General Navbar Styling
.navbar {
    background-color: #fff; 
    padding: 15px 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 }

.navbar-brand img {
    border-radius: 50%;  
} 

.navbar-nav {
    font-family: 'Cherry Swash', sans-serif;
    font-size: 25px;
}

.nav-link {
    color: brown !important;
    padding: 10px 15px;
    transition: all 0.3s ease;
    position: relative;
}

/* Hover effects for links */
.nav-link:hover {
    color: #fff !important; /* Text color changes on hover */
    background-color: brown !important; /* Background color on hover */
    border-radius: 5px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff; /* Underline color */
    bottom: -5px;
    left: 50%;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* Active link styling */
.nav-link.active {
    color: white !important;
    background-color: brown !important; /* Keep brown background for active link */
    border-radius: 5px;
}


@media (max-width: 991px)
 {
    .navbar-nav {
        font-size: 20px;
    }
} 